<div>
	<div className="back">
		<div className="card mx-auto" style={{ width: 20 + "rem" }}>
			<form className="m-4">
				<div className="form-group">
					<label className="form-label" htmlFor="username">
						Username
					</label>
					<input name="username" className="form-control" type="text" />
				</div>

				<div className="form-group">
					<label className="form-label" htmlFor="password">
						Password
					</label>
					<input
						name="password"
						className="form-control"
						type="password"
					/>
				</div>

				<a
					href="home.html"
					className="btn btn-block btn-primary form-label"
				>
					Login
				</a>

				<a
					href="register.html"
					className="btn btn-block btn-warning form-label mt-4"
				>
					Register
				</a>
				<small id="register-info" className="form-text text-muted">
					Do not have an account yet? Register yourself right away
				</small>
			</form>
		</div>
	</div>
</div>